* {
    margin: 0;
    padding: 0;
}

.main-part {
    display: flex;
    justify-content: space-evenly;
    background-color: beige;
    align-items: center;
}

.sub-section h2 {
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 20px;
    width: 70%;
}
.sub-section p {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
    width: 60%;
}

.sub-section button {
    padding: 10px 15px;
    border: none;
    background-color: darkblue;
    color: white;
    font-size: 24px;
    border-radius: 5px;
}

.first-section {
    text-align: center;
    margin-top: 40px;
    background-color:cornflowerblue;
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
}

.first-sub {
    padding: 30px;
    width: 50%;
}

.first-sub h2 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
}

.first-sub p {
    text-align: left;
    margin-bottom: 15px;
    width: 70%;
    font-size: 18px;

}

.second {
    margin-top: 50px;
    width: 80%;
    margin-left: 10%;
    text-align: center;
    background-color: cadetblue;
    margin-bottom: 30px;
    
}
.first-part {
   padding: 30px;
}
.second h2 {
    margin-bottom: 20px;
}

.first-part p {
    height: 55px;
    width: 60%;
    margin-left: 20%;
    overflow: scroll;
    overflow-x: hidden;
    margin-bottom: 20px;
}

.second-part {
    padding: 30px;
}

.second-part p {
    margin-bottom: 30px;
    width: 80%;
    margin-left: 10%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}