.transition-part{
    background-color: burlywood;
    margin-top: 60px;
    width: 80%;
    margin-left: 10%;
    padding: 30px;
    margin-bottom: 30px;

}
.cricket-match {
    
    position: relative;
}

.bat {
    width: 300px;
    float: left;
    position: relative;

}

.ball {
    width: 80px;
    height: 80px;
    position: relative;
    margin-top: 340px;
    margin-left: 260px;
}
.bat {
    transition: transform 0.3s ease-in;
}
.cricket-match:hover .bat{
    transform: rotate(-60deg);
    transform-origin: top right;
}

.ball {
    transition: transform 0.6s ease-out 0.3s;
}
.cricket-match:hover .ball {
    transform: translateX(300px) translateY(-300px);
}


.keyframe {
    width: 80%;
    margin-left: 10%;
    background-color: lightsteelblue;
    margin-top: 30px;
    padding: 30px;
    
}

.box {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    background-color: cornflowerblue;
    padding: 10px;
}

.round {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    background-color: rgb(125, 69, 180);
    animation-name: sliding;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes sliding {
    0% {
        background-color: red;
        left: 0;

    }

    25% {
        background-color: blue;
        left: 300px;
    }

    50% {
        background-color: yellow;
        top: 300px;
        left: 300px;
    }
    75% {
        left: 0;
        top: 300px;
    }

    100% {
        top: 0;
        left: 0;
    }
}